/* styles.css */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}



nav {
    display: inline-block;
}

nav a {
    text-decoration: none;
    color: #fff;
    margin: 0 10px;
    transition: opacity 0.3s ease-in-out;
}

nav a:hover {
    opacity: 0.2;
    /* Reduz a opacidade quando o mouse passa sobre os links */
}

/* Defina um contêiner principal para os componentes */
#container {
    display: flex;
    flex-direction: column;
    /* Alinha os componentes verticalmente */
    height: 100vh;
    /* Define a altura do contêiner para ocupar toda a altura da tela */
}

/* Estilize o header */
#header {
    width: 100%;
    background-color: #333;
    /* Cor de fundo do header */
    color: white;
    /* Cor do texto no header */
    padding: 10px;
    /* Espaçamento interno do header */
}

/* Estilize a barra lateral */
#sidebar {
    background-color: #555;
    /* Cor de fundo da barra lateral */
    color: white;
    /* Cor do texto na barra lateral */
    width: 20%;
    /* Largura da barra lateral */
}

/* Estilize o conteúdo principal (main) */
#main {
    display: block;
    width: 100%;
    padding: 10px;
    /* Espaçamento interno do conteúdo principal */
}

/* Estilize o footer */
#footer {
    width: 100%;
    background-color: #333;
    /* Cor de fundo do footer */
    color: white;
    /* Cor do texto no footer */
    padding: 10px;
    /* Espaçamento interno do footer */
    text-align: center;
    /* Centraliza o texto no footer */
}

.row-top {
    display: flex;
    height: 20vh;
    width: 100%;
}

.row-center {
    width: 100%;
    display: flex;
    height: 70vh;
}

.row-bottom {
    width: 100%;
    display: flex;
    height: 10vh;

}

.hamburger-menu {
    width: 30px;
    height: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    transition: transform 0.3s;
}

.hamburger-menu .bar {
    background-color: black;
    height: 3px;
    width: 100%;
    transition: transform 0.3s, opacity 0.3s;
}

.hamburger-menu.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
}

.hamburger-menu.active .bar:nth-child(2) {
    opacity: 0;
}

.hamburger-menu.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
}

.navbar {
    display: none;
}