.character-icon {
  width: 100px;
}
#sidebar {
  height: 100vh;
  position: relative;
  left: -100%;
  background-color: var(--primary-grey);
  width: fit-content;
}

.navigation-sidebar{
  height: 100vh;
  overflow-y: scroll;
  width: fit-content;
  padding: 20px;
}



.slideIn {
  animation: slideIn 1s forwards;
}

.slideOut {
  animation: slideOut 1s forwards;
}
@keyframes slideIn {
  0% {
    left: -100%;
  }
  100% {
    left: 0;
  }
}

