* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-red: #53212b;
  --secondary-red: #bd3944;
  --tertiary-red: #fd4556;
  --primary-grey: #fffbf5;
  --primary-black: #f4f7fe;
  --primary-gradient: linear-gradient(#ff8686 0%, #ff1818 100%);
  --secondary-gradient: linear-gradient(#ff8686 0%, #ff181847 100%);
}
