* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-purple: #1b2559;
  --secondary-puple: #2b3674;
  --tertiary-purple: #707eae;
  --quartiary-purple: #8f9bba;
  --primary-grey: #b0bbd5;
  --secondary-grey: #f4f7fe;
  --tertiary-grey: #e9edf7;
  --primary-gradient: linear-gradient(#868cff 0%, #4318ff 100%);
  --secondary-gradient: linear-gradient(#4318ff 0%, #4318ff47 100%);
}
